* {
    margin: 0;
    padding: 0;
  }

  .button-group {
    margin-top: 10px; /* กำหนดระยะห่างด้านบนระหว่างกลุ่มปุ่ม */
  }
  
  .button-group button {
    margin-right: 10px; /* กำหนดระยะห่างด้านขวาของปุ่ม */
  }